@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base{
  *{
    @apply box-border dark:text-white font-montserrat;
  }
  html{
    @apply scroll-smooth;
  }
  body{
    @apply m-0 p-0  w-full bg-white min-h-[100vh] font-montserrat;
  }
}

@layer components{
  .circle{
    @apply h-[400px] w-[400px] bg-orange-500 rounded-full;
  }
  .transitionAll{
    @apply transition-all duration-200;
  }
  .navlink{
    @apply w-full md:w-[100px] relative cursor-pointer transitionAll  dark:text-white
      before:content-[''] before:w-full before:absolute before:-top-[2px] before:bg-black before:dark:bg-gradient-to-l before:h-[2px] before:transitionAll hover:before:w-0 
      after:content-[''] after:w-0 after:absolute after:-bottom-[2px] after:bg-black after:dark:bg-gradient-to-r from-[#12c2e9] via-[#c471ed] to-[#f64f59] after:h-[2px] after:transitionAll hover:after:w-full ;
    }
  .circleButton{
    @apply mt-auto relative transitionAll hover:scale-75
    before:content-[''] before:h-0 hover:before:h-[190px] before:transitionAll before:w-[1px] before:bg-black before:rotate-[30deg] before:absolute;  
  }
  .formInput{
    @apply w-full h-[40px] border-none outline-none bg-transparent font-[500];
    /* after:content-[''] after:w-full after:h-4 after:absolute after:bg-white; */
    /* after:content-[''] after:w-full after:absolute after:-bottom-[20px] after:bg-black after:dark:bg-gradient-to-r from-[#12c2e9] via-[#c471ed] to-[#f64f59] after:h-[10px] after:transitionAll; */
  }
  .inputContainer{
    @apply w-full relative;
  }
  .inputContainer::after{
    @apply w-full absolute bottom-1 h-[1px] background-animate bg-black content-[''] dark:bg-gradient-to-r from-[#12c2e9] via-[#c471ed] to-[#f64f59]; 
  }
  .background-animate{
    background-size: 200%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
  }
}


@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 70%;
  }
  50% {
    background-position: 100% 30%;
  }
}
